In [1]:
import pandas as pnd #para manejar el dataframe
import numpy as np #para abrir el csv
import matplotlib.pyplot as plt #para graficar 
import sklearn as sk #para normalizar los datos

In [2]:
X = pnd.read_csv("incidenciaMunicipal_2015_including_vivienda.csv")
X.head()

,Unnamed: 0,CVE_ENT,CVE_MUN,CVE_MOD,CVE_TIPO,CVE_SUBTIPO,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOSTO,SEPTIEMBRE,OCTUBRE,NOVIEMBRE,DICIEMBRE,TOTAL_DELITOS,VIVIENDA_ENDUTIH
0,0,1,1,6,15,16,4,3,0,7,4,6,4,3,4,1,4,7,43,2
1,1,1,1,6,15,17,9,10,10,11,11,6,10,18,8,3,14,14,115,2
2,2,1,1,6,15,18,4,1,5,3,0,1,1,4,2,5,6,4,32,2
3,3,1,1,6,15,19,0,0,0,0,1,0,0,0,0,0,1,0,2,2
4,4,1,1,6,15,20,34,32,46,44,49,34,49,56,34,24,49,32,449,2

In [3]:
X.drop('Unnamed: 0',1,inplace=True)

In [4]:
X.head()

,CVE_ENT,CVE_MUN,CVE_MOD,CVE_TIPO,CVE_SUBTIPO,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOSTO,SEPTIEMBRE,OCTUBRE,NOVIEMBRE,DICIEMBRE,TOTAL_DELITOS,VIVIENDA_ENDUTIH
0,1,1,6,15,16,4,3,0,7,4,6,4,3,4,1,4,7,43,2
1,1,1,6,15,17,9,10,10,11,11,6,10,18,8,3,14,14,115,2
2,1,1,6,15,18,4,1,5,3,0,1,1,4,2,5,6,4,32,2
3,1,1,6,15,19,0,0,0,0,1,0,0,0,0,0,1,0,2,2
4,1,1,6,15,20,34,32,46,44,49,34,49,56,34,24,49,32,449,2

In [5]:
X.VIVIENDA_ENDUTIH.value_counts()

99    71346
3     23430
0     14718
1     10758
2      4752
Name: VIVIENDA_ENDUTIH, dtype: int64

# se eliminarán valores basura 99

In [6]:
X = X[X.VIVIENDA_ENDUTIH != 99]

In [7]:
X.VIVIENDA_ENDUTIH.value_counts()

3    23430
0    14718
1    10758
2     4752
Name: VIVIENDA_ENDUTIH, dtype: int64

In [8]:
X.shape

(53658, 19)

In [9]:
X.to_csv('incidenciaMunicipal_FINAL.csv')