In [1]:
import pandas as pnd #para manejar el dataframe
import numpy as np #para abrir el csv
import matplotlib.pyplot as plt #para graficar 
import sklearn as sk #para normalizar los datos
from sklearn.cluster import KMeans

In [5]:
X = pnd.read_csv("viviendas_2015_clusters.csv")
X.head()

,Unnamed: 0,VIV_SEL,P1_1,P1_2,P1_3,P1_4,P1_5_1,P1_5_2,P2_1,P2_2,P2_3,cve_est,cve_mun,Cluster
0,0,5,2,1,1,1,1,1,4,1,1,1,1,2
1,1,1,3,1,1,1,1,1,7,1,1,1,1,2
2,2,3,3,1,1,1,1,1,8,1,1,1,1,2
3,3,4,3,1,1,1,1,1,5,1,1,1,1,2
4,4,5,3,1,1,1,1,1,6,1,1,1,1,2

In [6]:
X.drop('Unnamed: 0', 1, inplace=True)

In [7]:
X.cve_mun.value_counts()

4      4104
1      3944
5      3805
2      3546
3      2996
17     2784
30     2717
6      2709
20     2153
7      2110
10     1681
14     1653
39     1612
101    1598
53     1541
19     1524
114    1513
28     1462
48     1280
8      1255
50     1230
9      1180
11     1161
18     1130
193    1063
35      996
106     971
38      880
67      843
12      828
       ...
317      18
198      18
217      18
207      18
533      18
401      18
520      18
210      18
142      17
190      17
160      17
513      17
278      17
234      17
166      16
211      16
128      16
202      16
64       16
346      15
327      15
88       14
422      13
403      10
227       9
136       9
519       5
135       5
175       4
138       4
Name: cve_mun, dtype: int64

In [11]:
X.Cluster.value_counts()

3    26341
1    20369
0    20250
2    11446
Name: Cluster, dtype: int64

In [41]:
import scipy

In [65]:
#df_mun = X.groupby(['cve_est','cve_mun']).agg(lambda x: scipy.stats.mode(x)[0])

In [60]:
df_mun = X.groupby(['cve_est','cve_mun']).Cluster.apply(lambda x: x.mode())

In [63]:
df_mun

cve_est  cve_mun
1        1        0    2
         2        0    2
         3        0    2
         4        0    2
         5        0    2
         6        0    2
         7        0    2
         9        0    2
         10       0    2
         11       0    2
2        1        0    2
         2        0    2
         3        0    2
         4        0    2
         5        0    2
3        1        0    2
         2        0    2
         3        0    2
         8        0    2
         9        0    2
4        1        0    2
         2        0    2
         3        0    2
         4        0    2
         5        0    2
         6        0    2
         9        0    2
         10       0    2
         11       0    2
5        2        0    2
                      ..
31       106      0    3
32       5        0    1
         7        0    1
         8        0    1
         10       0    1
         14       0    1
         16       0    1
         17       0    1
         18       0    1
         20       0    1
         22       0    1
         23       0    1
         31       0    0
         33       0    0
         34       0    0
         35       0    0
         36       0    0
         37       0    0
         38       0    0
         39       0    0
         40       0    0
         42       0    0
         44       0    0
         45       0    0
         48       0    0
         49       0    0
         51       0    0
         55       0    0
         56       0    0
         57       0    0
Name: Cluster, dtype: int64

In [66]:
d = pnd.DataFrame(df_mun)

In [68]:
d

                   Cluster
cve_est cve_mun
1       1       0        2
        2       0        2
        3       0        2
        4       0        2
        5       0        2
        6       0        2
        7       0        2
        9       0        2
        10      0        2
        11      0        2
2       1       0        2
        2       0        2
        3       0        2
        4       0        2
        5       0        2
3       1       0        2
        2       0        2
        3       0        2
        8       0        2
        9       0        2
4       1       0        2
        2       0        2
        3       0        2
        4       0        2
        5       0        2
        6       0        2
        9       0        2
        10      0        2
        11      0        2
5       2       0        2
...                    ...
31      106     0        3
32      5       0        1
        7       0        1
        8       0        1
        10      0        1
        14      0        1
        16      0        1
        17      0        1
        18      0        1
        20      0        1
        22      0        1
        23      0        1
        31      0        0
        33      0        0
        34      0        0
        35      0        0
        36      0        0
        37      0        0
        38      0        0
        39      0        0
        40      0        0
        42      0        0
        44      0        0
        45      0        0
        48      0        0
        49      0        0
        51      0        0
        55      0        0
        56      0        0
        57      0        0

[886 rows x 1 columns]

In [67]:
d.to_csv('clusters.csv')